<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #a21313;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #fff9f0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdefdd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #fff9f0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
</head>
<body style="background-color:white;">

<div class="navbar">
  <a href="https://www.ashencampaign.xyz/">Homepage</a>
  <a href="https://www.ashencampaign.xyz/named-characters-and-beasts/named-characters-and-beasts/">Characters</a>
  <a href="https://www.ashencampaign.xyz/other-information/display-tags/the-party/">The Party</a>
  <a href="https://www.ashencampaign.xyz/history-and-events/history-and-events/">History & Events</a>
  <a href="https://www.ashencampaign.xyz/gods-and-heralds/gods-and-heralds/">Gods & Heralds</a>
  <a href="https://www.ashencampaign.xyz/groups-and-factions/groups-and-factions/">Groups & Factions</a>
  <a href="https://www.ashencampaign.xyz/other-information/races/races/">Races</a>
</div>

</body>
</html>
