<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #a21313;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #fff9f0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdefdd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #fff9f0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
</head>
<body style="background-color:white;">

<div class="navbar">
  <a href="https://www.ashencampaign.xyz/">Homepage</a>
  <a href="https://www.ashencampaign.xyz/named-characters-and-beasts/named-characters-and-beasts/">Characters</a>
  <div class="dropdown">
    <button class="dropbtn">The Party 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="https://www.ashencampaign.xyz/other-information/display-tags/the-party/">The Party & Companions</a>
      <a href="https://www.ashencampaign.xyz/the-party/aiden-knight/">Aidan Knight</a>
      <a href="https://www.ashencampaign.xyz/the-party/wurinn-fuuldrusch/">Drache</a>
      <a href="https://www.ashencampaign.xyz/the-party/halfbie/">Halfbie</a>
      <a href="https://www.ashencampaign.xyz/the-party/mordecai-reverence/">Mordecai Reverence</a>
      <a href="https://www.ashencampaign.xyz/the-party/the-korrigan/">The Korrigan</a>
    </div>
  </div>
  <a href="https://www.ashencampaign.xyz/history-and-events/history-and-events/">History & Events</a>
   <div class="dropdown">
    <button class="dropbtn">Gods & Heralds 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="https://www.ashencampaign.xyz/gods-and-heralds/aeloria/aeloria/">Aeloria</a>
      <a href="https://www.ashencampaign.xyz/gods-and-heralds/chronovorus/chronovorus/">Chronovorus</a>
      <a href="https://www.ashencampaign.xyz/gods-and-heralds/eldros/eldros/">Eldros</a>
      <a href="https://www.ashencampaign.xyz/gods-and-heralds/ignatius/ignatius/">Ignatius</a>
      <a href="https://www.ashencampaign.xyz/gods-and-heralds/lorwyn/lorwyn/">Lorwyn</a>
      <a href="https://www.ashencampaign.xyz/gods-and-heralds/lyria/lyria/">Lyria</a>
      <a href="https://www.ashencampaign.xyz/gods-and-heralds/seraphina/seraphina/">Seraphina</a>
      <a href="https://www.ashencampaign.xyz/gods-and-heralds/somnora/somnora/">Somnora</a>
      <a href="https://www.ashencampaign.xyz/gods-and-heralds/vaelrith/vaelrith/">Vaelrith</a>
   </div>
  </div> 
  <a href="https://www.ashencampaign.xyz/groups-and-factions/groups-and-factions/">Groups & Factions</a>
  <a href="https://www.ashencampaign.xyz/other-information/races/races/">Races</a>
</div>

</body>
</html>
